.save-button.saved.has-change, .save-button.unsaved:not(.has-change){
  display: none;
}
.save-button.saved:not(.has-change), .save-button.has-change.unsaved{
  display: inline-block;
}
.is-saving .save-button.saved{
  display: none;
}
.is-saving .save-button.unsaved{
  display: inline-block;
}
.is-saving .save-button.unsaved:after {
    content: "*";
    float: right;
    position: absolute;
    font-size: 20px;
    margin-left: 1px;
    margin-top: -5px;
}
.has-change:after {
    content: "*";
    float: right;
    position: absolute;
    font-size: 20px;
    margin-left: 1px;
    margin-top: -5px;
}

.unsaved-changes-page-warning{
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-out;
  position: fixed;
  bottom: 3px;
  right: 3px;
  z-index: 10;
  text-align: center;
}
.unsaved-changes-page-warning.has-change{
  visibility: visible;
  opacity: .85;
}
.unsaved-changes-page-warning.has-change:after{
  display:none;
}